pirogue>=1.2.5
psycopg2
pyyaml
# pum==0.??  # TODO : get pum from pypi again once https://github.com/opengisch/pum/pull/97 was merged
https://github.com/olivierdalang/pum/archive/fix_checker_functions.zip#egg=pum  # TODO : remove this
